@model BaseBall_Stats.Models.Pitching_Stats

<h3>Are you sure you want to delete this stat?</h3>
<div>
    <h4>Pitching_Stats</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PitchingStatId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PitchingStatId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.statYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.statYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.W)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.W)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.L)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.L)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WLPECT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WLPECT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ERA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ERA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WHIP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WHIP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.G)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.G)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SHO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SHO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InningsPitched)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InningsPitched)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.H)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.H)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.R)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.R)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IBB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IBB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HBP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HBP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlayerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
