@model IEnumerable<BaseBall_Stats.Models.Player>


<p>
    @Html.ActionLink("Create New Player", "CreatePlayer")
</p>
<style>
    table,th,td{
        border: 1px solid;
    }
</style>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Postion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearStarted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearEnded)
        </th>
        <th>
            Options
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Postion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearStarted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearEnded)
        </td>
        <td>
            @Html.ActionLink("Stats", "GetStats", new { playerid =item.PlayerId }) |
            @Html.ActionLink("Delete", "DeletePlayer", new { playerid =item.PlayerId })
        </td>
    </tr>
}

</table>
