@model IEnumerable<BaseBall_Stats.Models.Player>


    <input type="button"
           value="Create New Player"
           onclick="location.href='@Url.Action("CreatePlayer", "Home")'"
           style="background-color:lightgreen" />
    <input type="button"
           value="Create Pitching Stat"
           onclick="location.href = '@Url.Action("CreatePitchingStats", "Home")'"
           style="background-color:lightgreen" />

    <input type="button"
           value="Create Hitting Stat"
           onclick="location.href='@Url.Action("CreateHittingStats", "Home")'"
           style="background-color:lightgreen" />

<style>
    table,th,td{
        border: 1px solid;
        text-align :center;
        margin-top : 30px;
        background-color:white;
        
    }
    body{
        background-color:bisque;
    }
    nav{
         float: left;
         width: 200px;
         height: 250px;
    }
</style>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Postion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearStarted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearEnded)
        </th>
        <th>
            Options
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Postion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearStarted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearEnded)
        </td>
        <td>
             <input type="button"
                   value="Edit"
                   onclick="location.href='@Url.Action("EditPlayer", "Home", new { playerId = item.PlayerId })'"
                   style="background-color:lightcoral" />
           |
            <input type="button"
                   value="Stats"
                   onclick="location.href='@Url.Action("GetStats", "Home", new { playerid = item.PlayerId })'"
                   style="background-color:lightskyblue" />
           |
            <input type="button"
                   value="Delete"
                   onclick="location.href='@Url.Action("DeletePlayer", "Home", new { playerid = item.PlayerId })'"
                   style="background-color:orangered" />
        </td>
    </tr>
}

</table>

